<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="swapify.com.swapify" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".AddFlightActivity"
            android:label="@string/title_activity_add_flight" >
        </activity>
        <activity
            android:name=".FlightActivity"
            android:label="@string/title_activity_flight" >
        </activity>
        <activity
            android:name=".FlightPassengerActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name=".RequestActivity"
            android:label="@string/title_activity_request"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ScanQRCodeActivity"
            android:label="@string/title_scan_qr_activity" >
        </activity>
        <activity android:name=".NavigationDrawerListFactory" >
        </activity>
    </application>

</manifest>
